@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Black+Ops+One|Ewert|Libre+Barcode+39|Nosifer|Orbitron|Sacramento|Warnes&display=swap');

/*

    font-family: 'Orbitron', sans-serif;

    font-family: 'Ewert', cursive;

    font-family: 'Sacramento', cursive;

    font-family: 'Allerta Stencil', sans-serif;

    font-family: 'Black Ops One', cursive;

    font-family: 'Nosifer', cursive;

    font-family: 'Libre Barcode 39', cursive;

    font-family: 'Warnes', cursive;


*/


.header{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-family: 'Digital-7';
}

#digital_clock{
	font-family: 'Digital-7';
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 10px;
	background: black;
	color: red;
	font-size: 75px;
	box-shadow: 0 0 10px rgba(250,0,0,1);
}

#d_date{
	font-size: 20px ;
	margin-left: 150px;
}

#ampm{
	font-size: 15px;
}
